.bestnavitem {
    float: right;
}
.bestnav {
    background-color: white;
}
img {
    padding-top: 15px;
}
.paddingless {
    padding: 0px;
}
.forestbg {
    background-color: rgba(0,128,0,0.7);
}
.panel {
    background-color: rgba(0,0,0,0.7);
    margin: 30px;
    padding: 30px;
    color: white;
}
.invis {
    opacity: 0;
}
.row {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.col {
    flex-direction: column;
}
body{
    background-image: url(asset/forest.jpg);
    background-size: 25% 25%;
}
h1{
    margin-top: 0;
}

a{
    text-decoration: none;
    color: black;
}